<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="exerciseslist"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Fiche exercice</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      {{ exercise.statement }}
    </ion-list-header>

    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h3>{{ exercise.question }}</h3>
        <h3>{{ exercise.response }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>