<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="students-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Fiche étudiant</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      {{ student.firstname }}  {{ student.lastname }}
    </ion-list-header>

    <ion-item class="item-label item ios in-list ion-focusable hydrated">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        
        <p>{{ student.age }} ans</p>
        <p>{{ student.city }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>