<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="students-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Inscrire un élève</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Prénom</ion-label>
        <ion-input formControlName="firstname" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input formControlName="lastname" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Age</ion-label>
        <ion-input formControlName="age" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Ville</ion-label>
        <ion-input formControlName="city" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Envoyer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>