<ion-header>
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Liste des users
    </ion-list-header>

    <ion-item *ngFor="let user of users" class="item-label item ios in-list ion-focusable hydrated">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{ user.username }}</h2>
      </ion-label>

      <!-- <div class="item-note" item-end>
        <button ion-button clear (click)="onUpdateUser(user._id)">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="onDeleteUser(user._id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="onGetOne(user._id)">
          <ion-icon name="chevron-down-circle-outline" style="zoom:2.0"></ion-icon>
        </button>
      </div> -->
    </ion-item>
  </ion-list>

  <ion-button button routerLink="/exerciseslist">
    Exercices
  </ion-button>
  <ion-button button routerLink="/students-list">
    Etudiant
  </ion-button>
  <ion-button button routerLink="/login">
    Se connecter
  </ion-button>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/users-form">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>