<ion-header>
  <ion-toolbar>
    <ion-title>
      Exercices
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Liste des exercices
    </ion-list-header>

    <ion-item *ngFor="let exercise of exercises" class="item-label item ios in-list ion-focusable hydrated">
      <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
        <h2>{{ exercise.statement }}</h2>
      </ion-label>

      <div class="item-note" item-end>
        <button ion-button clear (click)="onUpdateExercise(exercise._id)">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="onDeleteExercise(exercise._id)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="onGetOne(exercise._id)">
          <ion-icon name="chevron-down-circle-outline" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>

  <ion-button button routerLink="/users-list">
    Users
  </ion-button>

  <ion-button button routerLink="/students-list">
    Etudiants
  </ion-button>

  <ion-button button routerLink="/login">
    Se connecter
  </ion-button>

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/exercises-form">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>